﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FYP</title>
    <link rel="icon" href="@Url.Content("~/favicon.ico")">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FYP", "Map", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @{ if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("Map", "Home")"><span class="glyphicon glyphicon-play"></span> Game</a></li>
                            <li><a href="@Url.Action("Leaderboard", "Home")"><span class="glyphicon glyphicon-stats"></span> Leaderboard</a></li>
                            <li><a href="@Url.Action("Logout", "Home")"><span class="glyphicon glyphicon-log-out"></span> Logout (@User.Identity.Name)</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> Welcome Screen</a></li>
                            <li><a href="@Url.Action("Signup", "Home")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="@Url.Action("Login", "Home")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - FYP</p>
        </footer>
    </div>
</body>
</html>
