﻿@using FYPMap.ViewModels
@model QuestionModalViewModel
@Scripts.Render("~/bundles/questionModal")
<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Answer the following question correctly:</h4>
    </div>
    @using (Html.BeginForm("ModalQuestion", "Places", "FormMethod.Post"))
    {
        <div class="modal-body">
            <p>@Model.Question </p>
            @foreach (var answer in Model.Answers)
            {
                <label style="font-weight: normal;">
                    @Html.RadioButtonFor(a => a.SelectedAnswer, answer)
                    @answer
                </label><br />
            }
            <p class="text-danger wrongAnswerMessage"></p>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }
</div>