﻿<script defer src="~/Scripts/TestForSecureConnection.js"></script>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 text-center">
        <img src="~/Images/Usw.png" alt="USW Logo" height="250"/>
        <p>by Dwaine Harding</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        @Html.ActionLink("Sign Up", "Signup", null, new { @class = "btn btn-default form-control" })
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        @Html.ActionLink("Log In", "Login", null, new { @class = "btn btn-default form-control" })
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <p class="text-danger text-center unsecureMessage" style="display: none;">Please access this web page via a secured connection to continue.</p>
    </div>
</div>