﻿@using FYPMap.Models
@model List<UserScores>
@{
    ViewBag.Title = "Leaderboard";
}

<h2 class="text-center">Leaderboard</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th># of visited places</th>
        </tr>
    </thead>
    <tbody>
        @for(var i=0; i<Model.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@Model[i].Username</td>
                <td>@Model[i].VisitedPlaceIds.Count</td>
            </tr>
        }
    </tbody>
</table>



