﻿<script defer src="~/Scripts/TestForSecureConnection.js"></script>
@using FYPMap.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2 class="text-center">Login</h2>

@using (Html.BeginForm("Login", "Home", "FormMethod.Post"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Username, new { @class = "control-label" })
        @Html.EditorFor(x => x.Username, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password, new { @class = "control-label" })
        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        <div style="text-align: right;">
            <a><small>Forgot login credentials?</small></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <p class="text-danger text-center unsecureMessage" style="display: none;">Please access this web page via a secured connection to continue.</p>
        </div>
    </div>
    <div class="form-group" style="text-align:center;">
        <button type="submit" class="btn btn-large btn-block btn-default">Login</button>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}

