﻿@{
    ViewBag.Title = "Map";
}
@model string
<script defer src="@Model" type="text/javascript"></script>
@Scripts.Render("~/bundles/map")
<div class="row">
    <div id="defaultMap" style="height: 500px;" class="col-sm-10"></div>
    <p>Current Coords: <span id="currentLocation">..</span></p>
    <p>Move Count: <span id="moveCount">0</span> - Accuracy: <span id="accuracy"></span></p>
</div>
<!-- Modal -->
<div class="modal fade" id="questionModal" role="dialog">
    <div class="modal-dialog">
    </div>
</div>

