﻿<script defer src="~/Scripts/TestForSecureConnection.js"></script>
@using FYPMap.ViewModels
@model SignUpViewModel
@{
    ViewBag.Title = "Signup";
}

<h2 class="text-center">Signup</h2>

@using (Html.BeginForm("Signup", "Home", "FormMethod.Post"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Forename, new { @class = "control-label" })
        @Html.EditorFor(x => x.Forename, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Forename, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Surname, new { @class = "control-label" })
        @Html.EditorFor(x => x.Surname, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.EmailAddress, new { @class = "control-label" })
        @Html.EditorFor(x => x.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Username, new { @class = "control-label" })
        @Html.EditorFor(x => x.Username, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password, new { @class = "control-label" })
        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label" })
        @Html.EditorFor(x => x.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="AgreeToTerms" class="control-label">Tick to agree to the <a id="ShowTAndCs">T&C's.</a></label>
        <!--@Html.LabelFor(x => x.AgreeToTerms, new { @class = "control-label" })-->
        @Html.CheckBoxFor(x => x.AgreeToTerms)
        @Html.ValidationMessageFor(m => m.AgreeToTerms, "", new { @class = "text-danger" })
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <p class="text-danger text-center unsecureMessage" style="display: none;">Please access this web page via a secured connection to continue.</p>
        </div>
    </div>
    <div class="form-group" style="text-align:center;">
        <button type="submit" class="btn btn-large btn-block btn-default">Sign Up</button>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}

<!-- Modal -->
<div id="TCModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Terms and Conditions</h4>
            </div>
            <div class="modal-body">
                <p id="TermsAndConditions"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    $("#ShowTAndCs").on("click", function () {
        $.ajax({
            url: "/FYPMap/Home/GetTermsAndConditions",
            success: function (data) {
                if (data) {
                    $("#TermsAndConditions").html(data.content);
                    $("#TCModal").modal("show");
                }
            }
        });
    });
</script>