﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-default {
    opacity: 0.8;
    background-color: #c2c2c2;
}

.navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #000 !important;
}
